<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Tim's Demo</mat-toolbar>
    <mat-nav-list>
      <mat-list-item routerLink="clients">
        <mat-icon matListIcon>folder</mat-icon>
        <h3 matLine>Clients</h3>
      </mat-list-item>
      <mat-list-item routerLink="orders">
        <mat-icon matListIcon>folder</mat-icon>
        <h3 matLine>Orders</h3>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <!--<mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>architecture-starter</span>
    </mat-toolbar>-->
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>

<!--

What should this component be named? order
? Which fields should be displayed on the component table? orderNumber,clientId,quantity,total
? Which form components should be used for creating and updating? orderNumber|input,clientId|input,quantity|input,total|input
? Which types of components should be generated? desktop
? Which fields should be displayed on the component list? orderNumber,clientId,quantity,total

-->
